@import 'cl';

%align{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

*{
    padding: 0;
    margin: 0;
}
.out{
    width: 100vw;
    height: 100vh;
    background-color: #a36060;
    color: $c3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainscreen{
    width: 80vw;
    height: 90vh;
    background-color: #000000;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .opscreen{
        width: auto;
        height:auto;
        margin: 2%;
        border-radius: 2%;
    }
    .blur{
        filter: blur(4px);
    }
    .contra{
        filter: contrast(1100%);
    }
    .contras{
        filter: contrast(20%);
    }
    .bw{
        filter: grayscale(10);
    }
    .tools{
        width: 96%;
        height: 28%;
        background-color: #201d1d;
        border-radius: 2%;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .filter{
            width: 50%;
            height: 70%;
            border-radius: 2%;
            background-color: #d9d9d9;
            color:$c3;
            @extend %align;
            
            }
        .filter:hover{
            border: 1px solid black;
        }
        #diabox{
            width: 70%;
            height: 50%;
            background-color: rgb(205, 205, 205);
            border-radius: 2%;
            @extend %align;

        }
        #inpu{
            grid-column:span 3;
            display: none;
        }
        }
        
}    